<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ethan's website</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms"></script>
</head>
<body>
    <h1 class="m-5">This is the about page</h1>
<p>test2</p>
</body>
</html>